# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b65027d094f94f6135590db56cee82a0d992aa46cf60cc09581d01dafa0795ed32bf15e8b9d8a185634b6313a8fdb23a707990b6c384aa7ea9d2d17b9ac9b15e

test:
  secret_key_base: 61b918b3b23ab08230dc2d494d07dae49064a46207c8cb01112127848cd85a334779eb3c803871e7ee5d6a50e8e74eb94d06db5c31c29c584c56c55f236b6e19

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
